$fontColor: #0091aa;
$colorHeading: #be4a14;
#content  // div with id: content
{
    color: $fontColor;
}

h2
{
    color: $colorHeading;
}

h1{
    @extend h2;
}

li {
    border-style: solid;
    
}

#small{
color:red;
}

#medium{
color:blue;
}